html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    z-index: 100;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    backdrop-filter: blur(20px);
    align-items: center;
    padding: 0 20px;
    color: #fff;
}

.navbar h1 {
    margin: 0;
}

.navbar ul {
    flex: 1;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
}

#toggler {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

#toggler .line {
    width: 20px;
    height: 2px;
    background: #fff;
    margin: 4px 0;
}

#overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
}

#overlay ul {
    list-style: none;
    padding: 0;
}

#overlay ul li a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    font-size: 7vw;
}

.disclaimer {
    margin: 20px auto;
    text-align: center;
    color: #fff;
}

.disclaimer a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}

.disclaimer a:hover {
    text-decoration: overline;
}

/* Responsive styling */
@media (max-width: 1000px) {
    .navbar ul {
        display: none;
    }

    #toggler {
        display: flex;
    }

    #overlay {
        display: flex;
    }
}
